*  {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans','Roboto','Segoe UI','sans-serif';
}

nav{
    background-color: #241e20;
    height: 80px;
    width: 100%;
}

#div_nav_container{
    width: 50%;
    margin: auto;
}

#logo_simbolo{
    line-height: 80px;
    height: 80px;
    padding: 0 100;
}

.menu{
    list-style: none;
    float: right;
    margin-right: 30px;
}

.menu .li_menu{
    display: inline-block;
    line-height: 80px;}

.menu .li_menu .a_menu{    
    padding: 15px 30px;
    border-radius: 5px;
}

.a_menu{
    color: #f8f8f8;
}

#contate_nos{
    margin-left: 20px;
}

#check{
    display: none;
}

.checkbtn{
    font-size: 30px;
    float: right;
    color: #f8f8f8;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*Efeitos do Mouse*/
.a_menu:hover{
    color: #1e4080;
}

.a_menu:active{
    color: #ad2164;
}

main{
    width: 97%;
    margin: auto;
}


@media (max-width: 1500px){



    #div_nav_container{

        width: 100%;
        background-color: #102447;
        transition: .5s;
    }

    #logo_simbolo{
        padding-left: 50px;

    }
    .menu li a{
        font-size: 16px;
    }    
}

@media (max-width: 858px){

    nav{
        background-color: #241e20;
        height: 50px;
        width: 100%;
    }

    #logo_simbolo{
        display: block;
        height: 50px;
        line-height: 50px;
        margin-top: 0;
    }
    
    .checkbtn{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0c1930f5;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }


    .div_nav_container .menu .li_menu{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .menu .li_menu .a_menu{
        font-size: 20px;
        text-transform: uppercase;
    }    


    #contate_nos{
        margin: 0;
    }


    .menu .li_menu{
        display: block;
    }
     #div_nav_container{
        position: fixed;            
    }

    #check:checked ~ #menu{

        left: 0;
    }

    #imagem{
        background-position: bottom;
        background-size: auto 100%;
    }



}

/*main pagina*/

#header_main{
    margin: 0;
    padding: 0;
    height: 730px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#div_textura{
    height: 175px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url("img/textura_asfalto.jpg");
    background-size: contain;
    
}



#section_slogan{
    height: 555px;
    width: 100%;
    position: relative;
    background-image: url("img/carro_dentro.jpg");  
    background-position: bottom;
    background-size: cover;

}

.titulo_site{
    margin: auto;
    color: #f8f8f8ef;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 5em;

}

.logotipo_chamativo{
    height: 330px;
    position: absolute;

    left: 50%;

    transform: translateX(-50%);
    

}

.container_box_servicos{
    position: absolute;
    padding: 0;
    margin: 0;
    background-color: cornflowerblue;

    width: 753px;
    height: 184px;
    bottom: -92px;

    left: 50%;
    transform: translateX(-50%);


}

.container_box_servicos div{
    display: inline-block;
    position: relative;
    width: 251px;
    height: 184px;
    margin: 0;

    font-weight: bold;
    font-family: 'Lato';
    font-size: 20px;
    color: #121212;
    text-align: center;
    line-height: 1.4em;
    letter-spacing: 1px;    
}

.container_box_servicos div p{
    margin-top: 20px;
}

#box1{
    background-color: #ffffff;
    float: left;
}

#box2{
    background-color: #ededed;
}

#box3{
    float: right;
    background-color: #d6d6d6;
}

.box_ico{
    display: block;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    
}

#breve_resumo{
    width: 100%;
    height: 335px;
    background-color: #ededed;
    font-family: Helvetica, Arial, 'Lato';
    color: #241e20;
    text-align: center;
    padding-top: 80px;
}

#breve_resumo h3{
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#breve_resumo p{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

#breve_resumo button{
    background-color: #ad2164;
    color: #d6d6d6;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    
}

#breve_resumo button:hover{
    color: #b8909d;
    transition: 0.5s;
}

#breve_resumo button:active{
    color: #241e20;
    transition: none;
    border: solid #241e20;  
}

#div_convite{
    width: 100%;
    height: 335px;
    background-color: #081122b4;
    font-family: Helvetica, Arial, 'Lato';
    color: #f8f8f8;
    text-align: center;
    padding-top: 80px;
}

#div_convite h3{
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#div_convite p{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

#div_convite button{
    background-color: #f8f8f8;
    color: #1e4080;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    
}

#div_convite button:hover{
    color: #241e20;
    transition: 0.5s;
}

#div_convite button:active{
    transition: none;
    border: solid #241e20;  
}




















#informacoes_finais{
    width: 100%;
    height: 335px;
    background-color: #241e20d3;
    font-family: Helvetica, Arial, 'Lato';
    color: #f8f8f8;
    text-align: center;
    padding-top: 80px;
}

#informacoes_finais h3{
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#informacoes_finais p{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    line-height: 28px;
}

#informacoes_finais button{
    background-color: #f8f8f8;
    color: #1e4080;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    
}

#informacoes_finais button:hover{
    color: #241e20;
    transition: 0.5s;
}

#informacoes_finais button:active{
    transition: none;
    border: solid #241e20;  
}

footer{
    background-color: #241e20;
    height: 80px;
    width: 100%;
}









